@import "https://code.highcharts.com/css/highcharts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

    .min-h-screen-75 {
        min-height: 75vh;
    }

    .text-55 {
        font-size: 55rem;
    }

    .opacity-80 {
        opacity: .8;
    }

    .z-2 {
        z-index: 2;
    }

    .z-3 {
        z-index: 3;
    }

    .-right-100 {
        right: -100%;
    }

    .-top-225-px {
        top: -225px;
    }

    .-top-160-px {
        top: -160px;
    }

    .-top-150-px {
        top: -150px;
    }

    .-top-94-px {
        top: -94px;
    }

    .-left-50-px {
        left: -50px;
    }

    .-top-29-px {
        top: -29px;
    }

    .-left-20-px {
        left: -20px;
    }

    .top-25-px {
        top: 25px;
    }

    .left-40-px {
        left: 40px;
    }

    .top-95-px {
        top: 95px;
    }

    .left-145-px {
        left: 145px;
    }

    .left-195-px {
        left: 195px;
    }

    .top-210-px {
        top: 210px;
    }

    .left-260-px {
        left: 260px;
    }

    .h-95-px {
        height: 95px;
    }

    .h-70-px {
        height: 70px;
    }

    .h-350-px {
        height: 350px;
    }

    .h-500-px {
        height: 500px;
    }

    .h-600-px {
        height: 600px;
    }

    .max-h-860-px {
        max-height: 860px;
    }

    .max-w-100-px {
        max-width: 100px;
    }

    .max-w-120-px {
        max-width: 120px;
    }

    .max-w-150-px {
        max-width: 150px;
    }

    .max-w-180-px {
        max-width: 180px;
    }

    .max-w-200-px {
        max-width: 200px;
    }

    .max-w-210-px {
        max-width: 210px;
    }

    .max-w-580-px {
        max-width: 580px;
    }

    .min-w-48 {
        min-width: 12rem;
    }

    .min-w-140-px {
        min-width: 140px;
    }

    .bg-full {
        background-size: 100%;
    }

    .cost-recovery-threshold {
        border-left: 2px dashed;
        height: 30px;
        top: 60px;
    }

    .simple-typeahead {
        align-items: stretch;
        flex-wrap: wrap;
        width: 100%;
        display: flex;
        position: relative;
    }

    input.simple-typeahead-input {
        outline: 2px solid transparent;
        outline-offset: 2px;
        --tw-text-opacity: 1;
        color: rgba(71, 85, 105, var(--tw-text-opacity));
        font-size: 0.875rem;
        line-height: 1.25rem;
        padding-left: 2.5rem;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        --tw-bg-opacity: 1;
        background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
        --tw-border-opacity: 1;
        border-color: rgba(203, 213, 225, var(--tw-border-opacity));
        border-width: 1px;
        border-radius: 0.25rem;
        width: 100%;
        margin: 0;
        position: relative;
    }

    div.simple-typeahead-list {
        position: absolute;
		width: 100%;
		border: none;
		max-height: 400px;
		overflow-y: auto;
		z-index: 100;
        top: calc(1.5rem + 1.25rem - 2px);
        background-color: rgb(255, 255, 255);
        border-left: 1px solid rgb(203, 213, 225);
        border-right: 1px solid rgb(203, 213, 225);
        border-bottom: 1px solid rgb(203, 213, 225);
        border-radius: 0 0 0.25rem 0.25rem;
    }

    .simple-typeahead-list-item {
        padding: 0.75rem;
        cursor: pointer;
    }

    .simple-typeahead-list-item-active {
        background-color: rgb(16, 185, 129);
        color: rgb(255, 255, 255);
    }

    .dp__main {
        width: 100%
    }

    .gstc__list-column-header .gstc__list-column-row-expander-toggle {
        display: none;
    }

    .gstc__list-column-row-expander-toggle img {
        margin-top: 12px;
    }

    .child-row .gstc__list-column-row-expander {
        display: none;
    }

    revo-grid .main-viewport {
        height: 500px !important;
    }
}